@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');


*{
    box-sizing: border-box;
    margin:0;
    padding:0;

}

html{
    background-color: black;
    -webkit-text-size-adjust: 100%;; /* Never autoresize text */
}

body{
    background-color: antiquewhite;
  
}


.card{
    background-color: #000000d0;
    color:white;
    padding: 2em;
    border-radius: 30px;
    width:100%;
    max-width: 580px;
    max-height:200px;
    margin:1em;
}


.search-modal{
    margin:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}

.buttonModal{
    margin: 0.5em;
    border-radius: 10%;
    border:none;
    height: 44px;
    width: 84px;
    outline: none;
    background: #3fd3bf6b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}


  /*Modal One*/
  .bg-modal{
    display:none;
    width:100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    transition: 2s ease-in-out;
  }

  .close{
    position:absolute;
    color:black;
    top:0;
    right:14px;
    font-size:30px;
    transform:rotate(45deg);
    font-weight: bold;
    cursor:pointer;
  }

  .modal-content-one{
    background-color: white;
    color:black;
    display:none;
    padding: .5em;
    border-radius: 30px;
    width:80%;
    margin:1em;
    position:relative;
  }

.search-modal .search-text-modal{
    margin: 10px;
}


button:hover {
    background: #7c7c7c6b;
  }

.container{
    padding:20px 70px;
    color:white;

}


.json-user{
    background: rgba(24,24,27,0.8);
    padding:25px;
    color:white;
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
}

.json-user .json-user-area{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
}
.modal-content-one .search-modal{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.search-modal .search-modal-item{
   
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}
.json-user-area .json-user-area-item{
   
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    background: rgba(0,0,0,0.2)
}

.json-user-area .json-user-area-item .user{
    padding: 5px 15px;
    background: #3C3C44;
    border-radius: 50px;
    text-align: center;
}

.json-user-area .json-user-area-item .info{
    font-weight: 500;
    font-size: 17px;
    width: 230px;
}

@media only screen and (max-width: 1400px){
    .json-user{
        justify-content: start;
        align-items: none;
        overflow-x: scroll;
    }
}



@media only screen and (max-width: 900px) and (orientation : landscape){
  
   
    .card{
        display:none;
    }
   
 
    body{
      object-fit:contain;
    }
   
    .json-user{
        display:grid;
       position:static;
       justify-content:center;
    }
   

    .card{
        width:55%;
        height:50%;
        padding:0.5em;
        margin-left:0;
        max-width: 355px;
        max-height: 186px
    }
    
    .container{
        padding: 20px;
    }
    
  
    .json-user .json-user-area{
        justify-content:center;
        grid-template-columns: repeat(2, 1fr);
    }

    .json-user .info{
        font-size: 16px;
    }

    .date-container .time{
        font-size: 30px;
        font-weight: 100;
    }

  

}

@media only screen and  (max-width:748px) and (orientation : portrait){

   .json-user .json-user-area{
        grid-template-columns: 1fr;
    }
  
   
    .card{
        display:none;
    }

   

    .search {
        justify-content: space-between;
    }
  

    .card{
        width:95%;
        padding:2.5em;
        margin-left:0;
    }
 
    
    .container{
        padding: 20px;
    }
    
    .json-user{
        justify-content: center;
        align-items: none;
        overflow-y: scroll;
    }

    .json-user .info{
        font-size: 16px;
    }

   

  

}
@media only screen and  (max-width:480px) and (orientation : portrait){
   .json-user .json-user-area{
        grid-template-columns: 1fr;
    }
  
    .card{
        display:none;
    }

  

    .modal-content-one{
        width:95%;
    }
   
   

    .search {
        justify-content: space-between;
    }
  
    
    .container{
        padding: 20px;
    }
    
    .json-user{
        justify-content: center;
        align-items: none;
        overflow-y: scroll;
    }

    .json-user .info{
        font-size: 11px;
    }

   

}



